.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 274px;
    height: 403px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: #EEEEEE;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    width: 256px;
    height: 256px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 10px 0;
    text-align: center;
    color: #EEEEEE;
  }
  
  .price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
  .original-price {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    text-decoration: line-through;
    color: #888888;
    margin-right: 10px;
  }
  
  .discounted-price {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #8E1616;
  }
  
  .discounted-price.has-discount {
    color: #8E1616;
  }